@page "/AcercaDe"

<PageTitle>Acerca de</PageTitle>

<h6><strong>Estudiante: </strong>Emmanuel Hidalgo Perez Ramirez</h6>
<h6><strong>Matricula: </strong>2023-1003</h6>
<br>

<div>
<h2><strong>Contactos</strong> 

<div class="text-center">
    <a class="btn btn-secondary botonWhatsapp" target="_blank" href="https://wa.link/bqd5aj">
        <i class="fab fa-whatsapp"></i> Whatsapp
    </a>
    <a class="btn btn-secondary botonTelegram" target="_blank" href="https://t.me/EmmanuelHidalgoPerezRamirez">
        <i class="fab fa-telegram"></i> Telegram
    </a>
</div> </h2>

</div>

<img class="img-fluid img-top-right" src="imgenes/Yo,Brazor.jpg" alt="imagen"> 
